<div class="generalContent">

  <div class="Titulo">
    <h1>
        ¡Juego Nivel 3!
    </h1>
</div>

<div class="GifPersonajeJuego">
  <!-- <img src="assets/Animacion/Piso_c.mp4" alt=""> -->
</div>

  <div class="game-container">

    <div class="game-space" #gameSpace>
  
      <div class="player" [style.left.px]="player.x" [style.top.px]="player.y">Eco</div>
  
      <div *ngFor="let bag of trashBags" class="trash-bag" [style.left.px]="bag.x" [style.top.px]="bag.y">
        <img src="assets/3_Juego/Bag_.png" alt="Trash Bag" class="trash-bag-img">
      </div>
      
      <div *ngFor="let fish of fishes" class="fish" [style.left.px]="fish.x" [style.top.px]="fish.y">
        <img src="assets/3_Juego/Fish.png" alt="Fish" class="fish-img" [class.flip]="fish.direction < 0">
      </div>
    </div>
  
    <button class="end-button" [disabled]="trashBags.length > 0" (click)="finishGame()">
      Finalizar
    </button>
  </div>
</div>


