<div class="pagina-educativa-exterior">

    <div class="YoutuIcon">
    <a href="https://www.youtube.com/watch?v=ZtIsYo1gAQk" >
    <img class="YoutuIcon" src="assets/YoutuIcon.png" alt="Icono de youtube">
      <p>Eco Song</p>
  </a>
</div>
  <div class="contenedor-educativo">
      <div class="contenedor-educativo-content">
          <div class="titulo-educativo-resumido">
            <h2>¡Bienvenido al Nivel 2!</h2>
            <p>¡Aprende a separar para salvar nuestro planeta!</p>
          </div>

          <div class="secciones-residuos-contenedor">

              <div class="seccion-residuos-organicos">
                  <h3 class="titulo-verde">Orgánicos</h3>
                  <div class="imgorganico"></div>
                  <div class="items-seccion-contenedor">
                      <div class="manzana"></div>
                      <div class="hueso"></div>
                      <div class="banana"></div>
                      </div>
              </div>

              <div class="seccion-residuos-aprovechables">
                   <h3 class="titulo-blanco">Aprovechables</h3>
                   <div class="imgaprovechable"></div>
                   <div class="items-seccion-contenedor">
                       <div class="papel"></div>
                       <div class="carton"></div>
                       <div class="lata_bebida"></div>
                       </div>
              </div>

              <div class="seccion-residuos-no-aprovechables">
                   <h3 class="titulo-negro">No Aprovechables</h3>
                   <div class="imgnoaprovechable"></div>
                    <div class="items-seccion-contenedor">
                        <div class="servilleta"></div>
                        <div class="papel_higienico"></div>
                        </div>
              </div>
          </div>
          <div class="contenedor-boton-jugar"></div>
          <!-- <button class="boton-hora-de-jugar" (click)="IrAlJuego()">Jugar</button> -->
             <button class="boton-hora-de-jugar" routerLink="/JuegoNivel2">Juego 2</button>
      </div>
  </div>
  
</div>
