<!-- <div class="fullscreen-video-container">
  <video autoplay muted  (ended)="onVideoEnd()" class="fullscreen-video">
    <source src="assets/InicioEco.mp4" type="video/mp4">
  </video>
</div>
 -->


 <!-- <div #videoContainer class="fullscreen-video-container">
  <video autoplay muted (ended)="onVideoEnd()" class="fullscreen-video">
    <source src="assets/InicioEco.mp4" type="video/mp4">
  </video>
</div> -->

<div #videoContainer class="fullscreen-video-container">
  <video #videoElement autoplay muted (ended)="onVideoEnd()" class="fullscreen-video">
    <source src="assets/InicioEco.mp4" type="video/mp4">
  </video>
</div>