<div class="educativo1-container">
</div>
<div class="YoutuIcon">
    <a href="https://www.youtube.com/watch?v=ZtIsYo1gAQk" >
    <img class="YoutuIcon" src="assets/YoutuIcon.png" alt="Icono de youtube">
      <p>Eco Song</p>
  </a>
</div>

<div class="info">
  <p>Hola eco-aventurero hoy te contare todo lo que necesitas saber de lo que puedes o no reciclar</p>
</div>

<div class="info-board-container">
  <h1>Para saber si un objeto es reciclable, busca símbolos de reciclaje en el envase .
      El símbolo más común es un triangulo con tres flechas, que indica que el material es reciclable. </h1>
  <p>
        Tipos de Materiales Reciclables:
      </p>
        <table>
          <tbody>
            <tr>
              <td>
                <div>• Plásticos: Busca el número del RIC en el envase para saber si es reciclable. Por ejemplo, los plásticos PET (1) y HDPE (2) suelen ser reciclables.</div>
                <img src="/assets/1_Julio/reciclaje_0-removebg-preview.png" alt="" class="material-icon">
              <td>
                <div>• Papel y Cartón: Generalmente son reciclables.</div>
                <img src="/assets/1_Julio/infografia-reciclaje-carton__1_-removebg-preview.png" alt="" class="material-icon">
              </td>
              <td>
                <div>• Vidrio: Puede ser reciclado.</div>
                <img src="/assets/1_Julio/vidri-removebg-preview.png" alt="" class="material-icon">
              </td>
              <td>
                <div>• Metales: El hierro y el aluminio, entre otros, son reciclables.</div>
                <img src="/assets/1_Julio/metal-removebg-preview.png" alt="" class="material-icon">
              </td>
              <td>
                <div>• Otros: También se pueden reciclar pilas, baterías y algunos aparatos electrónicos.</div>
                <img src="/assets/1_Julio/ciclo-vida-pilas-removebg-preview.png" alt="" class="material-icon">
              </td>
            </tr>
          </tbody>
          
          </table>
  
      </div>
    <button routerLink="/JuegoNivel1">Vamos a Jugar</button>

