<div class="fondo"> </div>
<div class="YoutuIcon">
    <a href="https://www.youtube.com/watch?v=ZtIsYo1gAQk" >
        <img class="YoutuIcon" src="assets/YoutuIcon.png" alt="Icono de youtube">
        <p>Eco Song</p>
    </a>
</div>


<div class="Titulo">
    <h1>
        ¡Cuidemos los oceanos!
        <br>
        Save the ocean!
        <br>
        바다를 지켜요!
    </h1>
</div>


<div class="ContenidoGeneral">
    <div class="ContenidoIzquierdo">
        <div class="InfoUno">
            <div class="izquierda">
                <img class="GifLow Escena1" src="assets/3_Educativo/Escena1.gif" alt="MundoProductor">
                
                <!-- Div que administra el audio -->
                <button class="AudiosIconos" (click) = "togglePlayPause('audio1')">
                    <mat-icon *ngIf = "!getAudioState('audio1')">play_circle</mat-icon>
                    <mat-icon *ngIf= "getAudioState('audio1')" >pause_circle</mat-icon>
                </button>
            </div>
        
            <div class="derecha">
                <p>
                    ¿Sabías que cuando tiramos basura en las calles o ríos, muchas veces esa basura termina en el <strong> mar </strong>? 
                    <br>
                    <br>
                    Bolsas plásticas, botellas, latas y otros desechos pueden viajar largas distancias hasta llegar al océano, donde viven muchos animales como peces, tortugas y delfines. 
                    <br>
                    <br>
                    Esta basura <strong> contamina el agua </strong> y puede hacerle daño a los seres vivos que allí habitan.
                </p>
            </div>
        </div>

            <div class="izquierda">
                <img class="GifLow Escena2" src="assets/3_Educativo/Pose3_3.png" alt="Playa">
                <br>
            </div>

    </div>
    
    <div class="ContenidoDerecho">
        <div class="InfoDos">
            <div class="izquierda">
                <img class="GifLow Escena2" src="assets/3_Educativo/Escena2.png" alt="Playa">
                <br>
                <button class="AudiosIconos" (click) = "togglePlayPause('audio2')">
                    <mat-icon *ngIf = "!getAudioState('audio2')">play_circle</mat-icon>
                    <br>
                    <mat-icon *ngIf = "getAudioState('audio2')">pause</mat-icon>
                </button>
            </div>
        
            <div class="derecha">
                <p>
                    Los peces y otros animales marinos pueden <strong> confundir la basura con comida </strong> y tragársela, lo que les causa enfermedades o incluso la muerte. <br>
                    Además, la contaminación ensucia el agua que todos necesitamos para vivir. 
                    <br>
                    <br>
                    Por eso, es muy importante aprender desde pequeños a no tirar basura, a reciclar y a cuidar nuestro planeta.
                </p>
            </div>
        </div>
        
        <div class="InfoTres">
            <div class="izquierda">
                <img class="GifLow Escena3" src="assets/3_Educativo/Submarino.gif" alt="Submarino">
                <button class="AudiosIconos" (click) = "togglePlayPause('audio3')">
                    <mat-icon *ngIf = "!getAudioState('audio3')">play_circle</mat-icon>
                    <mat-icon *ngIf = "getAudioState('audio3')">pause</mat-icon>
                </button>
            </div>
        
            <div class="derecha">
                <p>
                    Ahora que ya sabes lo importante que es mantener limpio el mar, te invitamos a jugar un divertido juego. En él serás un personaje que nada en el océano y recoge las bolsas de basura que aparecen en el agua. 
                    <br>
                    <br>
                    ¡Tu misión es limpiar todo el mar y ayudar a los peces a vivir felices! 
                    <br>
                    <br>
                    ¿Estás listo para convertirte en un héroe del océano?</p>
            
                    <button class="btnJuego" routerLink="/JuegoNivel3">Jugar</button>

            </div>
        </div>
    </div>
</div>



