<div class="pagina-formulario-infantil">
<div class="YoutuIcon">
    <a href="https://www.youtube.com/watch?v=ZtIsYo1gAQk" >
    <img class="YoutuIcon" src="assets/YoutuIcon.png" alt="Icono de youtube">
      <p>Eco Song</p>
  </a>
</div>
  <div class="formulario-contenedor-infantil">

    <h1>¡Hola, Eco-Aventurero!</h1>
    <p>¡Llena tus datos para empezar a reciclar y jugar!</p>

    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">

      <div class="campo-formulario">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" formControlName="nombre" placeholder="Tu nombre aquí">
        <div class="error-mensaje" [ngClass]="{
            'activo': registroForm.get('nombre')?.invalid && (registroForm.get('nombre')?.dirty || registroForm.get('nombre')?.touched)
          }">
          ¡Necesitamos tu nombre!
        </div>
      </div>


      <div class="campo-formulario">
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" formControlName="apellido" placeholder="Tus apellidos">
        <div class="error-mensaje" [ngClass]="{
    'activo': registroForm.get('apellido')?.invalid && (registroForm.get('apellido')?.dirty || registroForm.get('apellido')?.touched)
    }">
          ¡También tu apellido!
        </div>
      </div>

      <div class="campo-formulario">

        <label>Género:</label>
        <div class="opciones-radio">
          <div class="opcion-radio">
            <input type="radio" id="genero_femenino" formControlName="genero" value="femenino" required>
            <label for="genero_femenino" id="label-femenino">Femenino</label>
          </div>

          <div class="opcion-radio">
            <input type="radio" id="genero_masculino" formControlName="genero" value="masculino" required>
            <label for="genero_masculino" id="label-masculino">Masculino</label>
          </div>
        </div>

        <div
          *ngIf="registroForm.get('genero')?.invalid && (registroForm.get('genero')?.dirty || registroForm.get('genero')?.touched)"
          class="error-mensaje">
          ¡Selecciona un género!
        </div>


        <div class="campo-formulario">
          <label for="edad">Edad:</label>
          <input type="number" id="edad" formControlName="edad" placeholder="Cuántos años tienes">

          <div class="error-mensaje" [ngClass]="{
              'activo': registroForm.get('edad')?.invalid && (registroForm.get('edad')?.dirty || registroForm.get('edad')?.touched)
            }">
            <span *ngIf="registroForm.get('edad')?.errors?.['required']">¡Dinos tu edad!</span>
            <span *ngIf="registroForm.get('edad')?.errors?.['min'] || registroForm.get('edad')?.errors?.['max']">
              La edad debe ser entre 5 y 18 años.
            </span>
          </div>
        </div>

      </div>

      <!-- <a href="../educativo/educativo.component.html"> <button type="submit" [disabled]="!registroForm.valid"
          class="boton-ingresar">
          Guardar
        </button></a> -->

            <button class="boton-ingresar" routerLink="/EducativoNivel1">
                    Guardar
            </button>


        <!-- <a routerLink="/EducativoNivel1"> >
          Guardar</a> -->
    </form>

  </div>

</div>